body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --textColor: #3b3636;
  --cubic:  cubic-bezier(0.65, 0, 0.35, 1)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cont {
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.namecont {
  width: fit-content;
  padding: 1.25em;
  cursor: pointer;
  display: flex;
}
.name {
  font-size: 3em;
  text-decoration: unset;
  color: var(--textColor);
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.behance{
  pointer-events: all;

  font-size: 1.5em;
  position: absolute;
  right: 1em;
  overflow: hidden;
  top: 15vh;
  font-family: helvetica neue;
  font-weight: 300;
}
.link {
  pointer-events: all;

  position: relative;
    text-decoration: none;
  color: var(--textColor);
  will-change: transform;
  display: block;
  transform: translateX(100%);
  transition: transform 0.8s var(--cubic), color 0.3s;
}
.email {
  cursor: pointer;
  display: block;
  text-decoration: none;
  transform: translateX(100%);
  transition: transform 0.8s var(--cubic), color 0.3s;
  color: var(--textColor);
}
.link:hover, .email:hover{
  color: black;
}
.showcontact{
  transform: unset;
}

nav {
  margin-left: auto;
  padding-right: 2.5em;
}
ul {
  font-size: 1.25em;
  display: flex;
  font-family: helvetica neue;
  gap: 1.5em;
  font-weight: 300;
  overflow: hidden;
  color: var(--textColor);
}
li {
  list-style: none;
  position: relative;
  pointer-events: all;
}
.liabout {
  right: 0;
  position: absolute;
  padding: 1em;
  top: 100%;
  width: 25vw;
  height: 40vh;
}
.aboutcont {
  right: 1em;
  z-index: -1;
  width: 25vw;
  /* font-size: 1.2em; */
  font-size: 1.5em;
  font-family: helvetica neue;
  gap: 1.5em;
  font-weight: 300;
  line-height: 1;
  text-indent: 4em;
  top: 20vh;
  position: absolute;
  filter: blur(4px);
  opacity: 0;
  pointer-events: all;

  color: var(--textColor);
  transition: filter 0.7s var(--cubic), opacity 0.7s var(--cubic);
}
.showabout{
  filter: unset;
  opacity: 1;
}
.licont::after {
  content: attr(aria-label);
  display: block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  transform: translateY(0%);
  top: 110%;
  color: var(--textColor);
}
.licont {
  transition: transform 0.8s var(--cubic);
  cursor: pointer;
}
li:hover .licont {
  transform: translateY(-110%);
}

.workcont {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-60%);
}

.work {
  background: url(./assets/actual_scaled.png) center / 151%;
  width: 250px;
  aspect-ratio: 1/1;
  max-width: 100vw;
}

.titlecont {
  font-size: 1em;
  font-family: helvetica neue;
  /* gap: 1.5em; */
  font-weight: 300;
  padding: 2em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.titlecont::before {
  content: '';
  height: 1px;
  display: block;
  transform: translateY(-0.5em);
  background: rgb(154, 153, 153);
}
.description {
  margin-left: auto;
  padding-right: 1em;
  font-size: 1.2em;
}

.title {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  display: flex;
  text-decoration: none;
  color: var(--textColor);
  cursor: pointer;
}
.title:hover::after {
  background: url(./assets/noun-arrow-black-allt.svg) center / contain no-repeat; 
}
.title::after{
  content: '';
  aspect-ratio: 1/1;
  height: 4vh;
  display: block;
  transition: background 0.3s;
  background: url(./assets/noun-arrow-black.svg) center / contain no-repeat;
}

.violet {
  height: 100vh;
  position: absolute;
  width: 22vw;
  /* background: #f1ebff; */
}

.mockupcont {
  height: 20vh;
  position: absolute;
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 1em;
  bottom: 0;
  padding: 1em;
  padding-bottom: 2em;
  transform-origin: left bottom;
  /* transform: scale(0.5); */
  transition: width 0.8s var(--cubic), height 0.8s var(--cubic);
  box-sizing: content-box;
}
.mockupcont:hover {
  height: 50vh;
}
.mockuptext {
  font-family: helvetica neue;
  font-size: 1.3em;
  text-transform: capitalize;
  font-weight: 300;
  
  /* po */
}
.mockup {
  background: url(./assets/zip-bag-package-mockup.png) center 85% / cover;
  height: 100%;
  border-radius: 35px;
  aspect-ratio: inherit;
  
}

.hidetext {
  height: 100vh;
  width: 100%;
  position: absolute;
  /* background: red; */
}

@media (max-width: 550px) {
  .workcont {
    transform: translate(-50%,-50%);
  }
  .aboutcont {
    width: 85vw;
    top: 13vh;
    padding-right: 1em;
    font-size: 1.15em;
    text-align: left;
    text-indent: 2em;
  }
  .violet {
    display: none;
  }
  .title::after {
    height: 1.8vh;
  }
  .title {
    font-size: 1.4em;
  }
  .description {
    font-size: 1em;
  }
  .mockupcont {
    top: 100vh;
    height: 50vh;
    width: 80vw;
    left: 50%;
    transform: translate(-50%);
  }
  .mockuptext {
    margin-inline: auto ;
  }
}

@media (min-width: 1350px) {
  .title:after {
    height: 2.5vh;
}
}